.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 100px;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 130px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.BodyContent {
  text-align: left;
  width: 80vmax;
  margin: 0 auto;
}

th,
td {
  padding: 0.75rem 1rem;
  border-bottom: 1px solid gray;
}

th {
  color: gray;
  text-transform: uppercase;
  font: 500 0.75rem Lexend, sans-serif;
  text-align: left;
}

th,
td {
  padding: 0.75rem 1rem;
  border-bottom: 1px solid gray;
}

td {
  font-size: 0.875rem;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
